{% extends 'base.html.twig' %}

{% block title %}Last questions{% endblock %}

{% block body %}
    <h1>Last questions</h1>
    <a href="{{ path('app_question_new') }}" >Задать вопрос</a>
    <div class="bd-example">
    <table class="table table-hover">
        <thead>
            <tr class="table-light">
                <th scope="col">Header</th>
                <th scope="col">Added date</th>
                <th scope="col">Answers</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('app_question_show', {'id': question.id}) }}">{{ question.header }}</a></td>
                <td>{{ question.added ? question.added|date('Y-m-d') : '' }}</td>
                <td>{{ question.answers.count }}</td>
            </tr>
        {% else %}
            <tr class="table-danger">
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
